*{
    margin:0;
    padding:0;
    font-family: sans-serif;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
    background-color: #eee2dc;
}
/*The background of the main page*/
.home-banner{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.2),rgb(0, 0, 0)),url(background.jpg);
    background-size: cover;
    background-position: center;
    z-index: -16;
}
/*Default navigation bar*/
header{
    background-color: #eae7dc;
}
.navbar{
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    z-index: +1;
    background-color: #eae7dc;
    justify-content: space-between;
    position: fixed;
    top: 0;
    width: 100%;
}
.navbar 
.logo{
    margin-left: 25px;
    width: 200px;
    cursor: pointer;
}
.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}
.navbar ul li a{
    text-decoration: none;
    color: black;
    text-transform: uppercase;
}
/*The little line when you hover over something in the navbar*/
.navbar ul li::after{
    content: '';
    height: 3px;
    width: 0%;
    background: black;
    position: absolute;
    left: 0;
    bottom: -10;
    /*How long it takes for the line to show*/
    transition: 0.5s;
}
.navbar ul li:hover::after{
    width: 100%;
}
/*Hamburger menu that pops up when screen gets too thin*/
.nav-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 15px;
}
.hamburger{
    margin-right: 35px;
    display: none;
    cursor: pointer;
}
.bar{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: black;
}
@media(max-width:1135px){
    .hamburger{
        display: block;
    }
    .hamburger.active .bar:nth-child(2){
        opacity: 0;
    }
    .hamburger.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }

    .nav-menu{
        position: fixed;
        left: -100%;
        top: 100px;
        flex-direction: column;
        background-color: #eae7dc;
        width: 100%;
        gap: 20px;
        text-align: center;
        transition: 0.3s;
    }

    .nav-item{
        margin: 16px 0px;
    }
    .nav-menu.active{
        left: 0;
    }

}
/*Hero text*/
.content{
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: white;
    z-index: 0;
}
.content h1{
    font-size: 70px;
    margin-top: 80px;
}
.content p{
    font-size: 20px auto;
    font-weight: 100;
    line-height: 25px;
}
/*The button*/
button{
    width: 200px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 5px;
    font-weight: bold;
    border: 2px solid white;
    background: transparent;
    color: white;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition: 0.25s;
}
button:hover{
    color: black;
    background: white;
}
/*The button fill hover effect*/
/*
span{
    color: black;
    background: white;
    height: 100%;
    width: 0%;
    border-radius: 0px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;
}
button:hover span{
    width: 100%;
}
*/
/*Informational cards under the home page banner*/
.info-cards{
    margin: 10% 10% 0% 10%;
    display: flex;
    background-color: transparent;
    justify-content: center;
    flex-wrap: wrap;
}
.card{
    flex: 1 1 21rem;
    width: 325px;
    background-color: #eae7dc;
    border-radius: 8px;
    border-width: 2px;
    overflow: hidden;
    box-shadow: 0px 15px 15px rgba(0, 0, 0, 0.2);
    margin: 20px;
}
/*Makes sure images fit well in cards
MAKE SURE TO MAKE MATCHING IMAGES IN PHOTOSHOP*/
.card img{
    width: 100%;
    height: auto;
}
.card-content{
    padding: 16px;
}
.card-content h3{
    color: black;
    font-size: 28px;
    margin-bottom: 8px;
}
.card-content p{
    color: black;
    font-size: 15px;
    line-height: 1.3;
}
.card-content .button{
    display: inline-block;
    padding: 8px 16px;
    border-style: solid;
    border-width: thin;
    border-color: #666;
    background-color: #eae7dc;
    text-decoration: none;
    border-radius: 4px;
    margin-top: 16px;
    color: black;
    transition: 0.25s;
}
.card-content .button:hover{
    background-color: #666;
    color: white;
}

/*The about page*/
.aboutbanner{
    width: 100%;
    height: 50vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.2),rgb(0, 0, 0)),url(about-background.jpg);
    background-size: cover;
    background-position: center;
}

/*The our story page*/
.our-story-body{
    width: 100%;
    padding: 98px;
}
.our-story-body img{
    margin-top: 55px;
    height: auto;
    width: 520px;
}
.our-story-text{
    width: 550px;
}
.our-story-text h1{
    color: black;
    font-size: 80px;
    text-transform: capitalize;
    margin-bottom: 20px;
    margin-top: 65px;
}
.our-story-text p{
    color: black;
    letter-spacing: 1px;
    line-height: 18px;
    margin-bottom: 15px;
}
.main{
    margin-top: 45px;
    width: 1130px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.our-story-text .button{
    display: inline-block;
    padding: 8px 16px;
    border-style: solid;
    border-width: thin;
    border-color: #666;
    background-color: #eae7dc;
    text-decoration: none;
    border-radius: 4px;
    margin-top: 16px;
    color: black;
    transition: 0.25s;
}
.our-story-text .button:hover{
    background-color: #666;
    color: white;
}
/*The job application page*/
#contact{
    min-height: 100bh;
    display: flex;
    align-items: center;
    justify-content: left;
    background: #eae7dc;
}
.contact-body{
    margin: auto;
    position: relative;
    max-width: 900px;
    background-color: #fff;
    width: 100%;
    border-radius: 6px;
    margin: 0 15px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}
.contact-body header{
    font-size: 20px;
    font-weight: 600;
    color: #333;
}
submitButton{
    width: 200px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 5px;
    font-weight: bold;
    border: 2px solid black;
    background: transparent;
    color: black;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition: 0.25s;
}
submitButton:hover{
    color: white;
    background: black;
}
.box {
    max-width: 600px;
    padding: 20px;
    background: white;
    margin: 0 auto;
    margin-top: 50px;
    margin-left: auto;
    /*box-shadow: 4px 3px 5px wheat;*/
    border-radius: 10px;
}

.small {
    font-size: 20px;
}
.form_container{
    margin: 2d0px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
    gap: 20px;
}
.form_control{
    display: flex;
    flex-direction: column;
}
label{
    margin-bottom: 5px;
    font-size: 15px;
}
input, select, textarea{
    padding: 6px 10px;
    border: 1px solid black;
    border-radius: 4px;
    font-size: 15px;
}
input:focus{
    outline-color: red;
}
.button_container{
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
}
.textarea_control{
    grid-column: 1 / span 2;
}
.textarea_control textarea{
    width: 100%;
}
@media(max-width: 460px){
    .textarea_control{
    grid-column: 1 / span 1;
} 
}

.about-body{
    width: 100%;
    padding: 18px;
}
.about-body img{
    margin-top: 25px;
    height: auto;
    width: 520px;
}
.about-text{
    width: 550px;
}
.about-text h1{
    color: black;
    font-size: 80px;
    text-transform: capitalize;
    margin-bottom: 20px;
    margin-top: 65px;
}
.about-text p{
    color: black;
    letter-spacing: 1px;
    line-height: 18px;
    margin-bottom: 15px;
}
.about-main{
    margin-top: 45px;
    width: 1130px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.about-text .button{
    display: inline-block;
    padding: 8px 16px;
    border-style: solid;
    border-width: thin;
    border-color: #666;
    background-color: #eae7dc;
    text-decoration: none;
    border-radius: 4px;
    margin-top: 16px;
    color: black;
    transition: 0.25s;
}
.about-text .button:hover{
    background-color: #666;
    color: white;
}
