*{
    margin:0;
    padding:0;
    font-family: sans-serif;
}
html{
    scroll-behavior: smooth;
}
/*The background of the main page*/
.homebanner{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.75)),url(background.jpg);
    background-size: cover;
    background-position: center;
}
/*Default navigation bar*/
.navbar{
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    width: 150px;
    cursor: pointer;
}
.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}
.navbar ul li a{
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}
/*The little line when you hover over something in the navbar*/
.navbar ul li::after{
    content: '';
    height: 3px;
    width: 0%;
    background: #960000;
    position: absolute;
    left: 0;
    bottom: -10;
    /*How long it takes for the line to show*/
    transition: 0.5s;
}
.navbar ul li:hover::after{
    width: 100%;
}
/*Hero text*/
.content{
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: white;
}
.content h1{
    font-size: 70px;
    margin-top: 80px;
}
.content p{
    font-size: 20px auto;
    font-weight: 100;
    line-height: 25px;
}
/*The button*/
button{
    width: 200px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 15px;
    font-weight: bold;
    border: 2px solid #960000;
    background: transparent;
    color: white;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}
/*The button fill hover effect*/
span{
    background: #960000;
    height: 100%;
    width: 0%;
    border-radius: 0px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;
}
button:hover span{
    width: 100%;
}
/*The body portion of the homepage*/
.homebody{
    width: 100%;
    height: 100vh;
    /*Change back to black once done*/
    background-color: rgb(190, 190, 190);
    background-size: cover;
    background-position: center;
}

/*The about page*/
.aboutbanner{
    width: 100%;
    height: 100vh;
    background-color: black;
    background-size: cover;
    background-position: center;
}